.section-navbar {
    margin-top: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 7.5rem;
        @media screen and (max-width: 992px) {
            width: 6.4rem;
        }
    }
    .links {
        display: grid;
        grid-auto-flow: column;
        gap: 4rem;
        @media screen and (max-width: 992px) {
            gap: 3rem;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
        .link {
            color: #757575;
            font-weight: 400;
            font-size: 1.8rem;
        }
    }
    .sign {
        padding: 1.5rem 2.3rem;
        background: #ffffff;
        border-radius: 7px;
        font-weight: 500;
        font-size: 1.8rem;
        color: #3a3b40;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .menu-btn {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
        @media screen and (max-width: 576px) {
            width: 5rem;
            height: 5rem;
        }
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding-top: 4.6rem;
        z-index: 2;
        display: none;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mobile-links {
            margin-top: 2rem;
            display: grid;
            grid-auto-flow: row;
            a {
                color: #757575;
                font-weight: 500;
                font-size: 2rem;
                text-align: center;
                padding: 1rem 0;
            }
        }
    }
}

.hero {
    background: #fff;
    background-image: linear-gradient(
        104.98deg,
        #615f66 31.19%,
        #615f66 63.5%,
        #3a3b40 93.84%
    );
    background-repeat: no-repeat;
    padding-bottom: 12rem;
    position: relative;
    @media screen and (max-width: 1500px) {
        padding-bottom: 7rem;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 3.5rem;
    }
    .bg {
        position: absolute;
        height: 100%;
        width: 140rem;
        max-width: unset;
        @media screen and (max-width: 1500px) {
            left: -25rem;
        }
        @media screen and (max-width: 992px) {
            left: -46rem;
        }
        @media screen and (max-width: 768px) {
            left: 0rem;
            width: 170rem;
        }
    }
}

.section-main {
    margin-top: 7.7rem;
    position: relative;
    @media screen and (max-width: 768px) {
        margin-top: 5.5rem;
    }

    .heading {
        font-family: "Fjalla One", sans-serif;
        font-size: 5.8rem;
        font-weight: 400;
        color: #3a3b40;
        @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 5rem;
        }
        @media screen and (max-width: 576px) {
            font-size: 2.4rem;
            text-align: left;
        }
        .boxed {
            background: rgba(249, 217, 92, 0.2);
            border: 1px dashed #f9d95c;
            border-radius: 6px;
            padding: 0.4rem;
        }
    }

    .join {
        margin-top: 4.3rem;
        display: grid;
        grid-template-columns: 1.9rem 1fr;
        gap: 0 2rem;
        align-items: center;
        width: fit-content;
        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 576px) {
            margin-left: unset;
            margin-top: 3rem;
        }
        .dot {
            width: 19px;
            height: 19px;
            background: #141414;
            border-radius: 100%;
            display: grid;
            place-items: center;
            margin-top: 0.8rem;

            .inner {
                width: 9px;
                height: 9px;
                background: #fada5c;
                box-shadow: 0px 0px 6px #fada5c;
                border-radius: 100%;
            }
        }

        h4 {
            font-weight: 700;
            font-size: 3.2rem;
            color: #757575;
            @media screen and (max-width: 768px) {
                font-size: 2.7rem;
            }
            @media screen and (max-width: 576px) {
                font-size: 1.6rem;
            }
        }

        p {
            grid-column-start: 2;
            font-weight: 500;
            font-size: 2rem;
            color: #757575;
            @media screen and (max-width: 768px) {
                font-size: 1.7rem;
            }
            @media screen and (max-width: 576px) {
                font-size: 1.3rem;
            }
        }
    }
    .iphone {
        position: absolute;
        top: -18rem;
        right: -2rem;
        pointer-events: none;
        @media screen and (max-width: 1500px) {
            top: -20rem;
            right: -19rem;
            width: 90%;
        }
        @media screen and (max-width: 992px) {
            width: 80%;
            top: -5rem;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .cta {
        @media screen and (max-width: 768px) {
            margin: 3rem auto 0 auto;
            width: 48rem;
            .click {
                margin-right: 3rem;
            }
        }
        @media screen and (max-width: 576px) {
            width: 100%;
            height: auto;
            min-height: 15rem;
            padding: 0 1.7rem;
            gap: 1rem;
            .text {
                font-size: 1.6rem;
            }
            .click {
                width: 6.3rem;
                height: 6.3rem;
                margin-right: 0;
            }
        }
    }
}

.mobile-iphone {
    @media screen and (min-width: 769px) {
        display: none;
    }
    background: linear-gradient(
        83.12deg,
        #615f66 -33.15%,
        #615f66 45.58%,
        #3a3b40 90.4%
    );
    height: 59rem;
    position: relative;
    @media screen and (max-width: 576px) {
        height: 36rem;
    }
    .iphone {
        width: 110%;
        position: absolute;
        max-width: unset;
        left: -13rem;
        top: -13rem;
        @media screen and (max-width: 576px) {
            left: -6rem;
            top: -3rem;
            height: 36rem;
        }
    }
}

.what-is__section {
    position: relative;
    background: radial-gradient(
            94.54% 136.16% at 28.75% 39.99%,
            #ffffff 0%,
            rgba(255, 255, 255, 0.44) 100%
        ),
        url("/what-is-bg.jpg");
    .grid {
        display: grid;
        grid-auto-flow: row;
        gap: 5rem;
        .row {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            position: relative;
        }
        .corner {
            &.c-1 {
                transform: translateX(2rem) translateY(-2rem);
            }
            &.c-2 {
                transform: translateX(2rem) translateY(-3.5rem);
            }
        }
        .cell {
            width: 5rem;
            height: 5rem;
        }
        .text {
            font-family: "Encode Sans", sans-serif;
            font-weight: 400;
            font-size: 2rem;
            color: #141414;
            span {
                font-weight: 700;
            }
        }
        .banner {
            border: 1px solid #fada5c;
            border-radius: 1rem;
            padding: 1.5rem 4.7rem;
        }
    }
    .laptop {
        position: absolute;
        right: -34rem;
        top: 12rem;
    }
    .floor {
        margin-top: 7.7rem;
        margin-bottom: -0.6rem;
    }
}

.bonuses__section {
    background: #fada5c;
    padding-bottom: 7rem;
    .flex {
        display: flex;
        justify-content: space-between;
        .left,
        .right {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }
        .block {
            display: flex;
            gap: 1.5rem;
        }
        p {
            font-family: "Encode Sans", sans-serif;
            font-weight: 400;
            font-size: 2rem;
            color: #141414;
            span {
                font-weight: 700;
            }
        }
    }

    .center {
        margin: -13rem auto 10rem auto;
        position: relative;
        width: fit-content;
        padding-bottom: 25rem;
        .main {
            width: 44rem;
            height: 44rem;
            font-family: "Encode Sans", sans-serif;
            font-size: 3.2rem;
            color: #3a3b40;
            text-align: center;
            background-color: #fff;
            border-radius: 100%;
            display: grid;
            place-items: center;
            padding: 4.4rem;
            position: relative;
            &:after {
                position: absolute;
                content: "";
                display: block;
                width: 39.4rem;
                height: 39.4rem;
                opacity: 0.4;
                border: 1px solid #141414;
                border-radius: 100%;
            }
            span {
                font-weight: 700;
            }
            img {
                position: absolute;
                transform: translateY(-16rem);
                width: 51rem;
            }
        }
        .badge {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            width: fit-content;
            position: absolute;
            &.left {
                transform: translate(-20rem, 25rem);
                .box:before {
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                }
            }
            &.mid {
                transform: translate(14rem, 48rem);
                .box:before {
                    top: calc(-100% + 1rem);
                    left: 50%;
                    transform: translateX(-50%) rotate(90deg);
                }
            }
            &.right {
                transform: translate(47rem, 25rem);
                .box:before {
                    top: 50%;
                    right: 100%;
                    transform: translateY(-50%);
                }
            }

            .box {
                font-family: "Fjalla One", sans-serif;
                font-weight: 400;
                font-size: 3.2rem;
                color: #3a3b40;
                background: #ffffff;
                border-radius: 100px;
                width: fit-content;
                padding: 0.8rem 2.9rem;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    width: 10rem;
                    height: 0.4rem;
                    background-color: #141414;
                    position: absolute;
                }
            }
            .desc {
                font-family: "Encode Sans", sans-serif;
                font-weight: 500;
                font-size: 2rem;
                color: #141414;
                text-align: center;
            }
        }
    }

    .mail {
        width: 100%;
        max-width: 101rem;
        border-radius: 2rem;
        background: url("/bonuses-mail-bg.jpg") no-repeat;
        padding: 6.3rem;
        margin: 0 auto;
        position: relative;
        .heading {
            font-family: "Fjalla One", sans-serif;
            font-weight: 400;
            font-size: 3.2rem;
            color: #3a3b40;
            text-align: center;
            .border {
                background: rgba(250, 218, 92, 0.1);
                border: 1px dashed #fada5c;
                border-radius: 6px;
                padding: 0.2rem 0.5rem;
            }
        }
        p.desc {
            font-family: "Encode Sans", sans-serif;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            margin-top: 3rem;
            color: #3a3b40;
        }
        .cta {
            margin: 3rem auto 0 auto;
        }
        .star {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -9rem;
        }
    }
}

.results__section {
    background: url("/results/bg.jpg") no-repeat;
    padding-bottom: 10rem;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem 2rem;
    }
    .card {
        img {
            border: 3px solid #262525;
            border-radius: 2.2rem;
            object-fit: cover;
        }
        .desc {
            max-width: 35rem;
            width: 100%;
            background: #262525;
            border-radius: 7px;
            padding: 1rem;
            color: #fff;
            margin: 0 auto;
            margin-top: -1rem;
            text-align: center;
        }
    }
}

.students__section {
    background: #fada5c;
    padding-bottom: 10rem;
    .grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(12, 1fr);
        gap: 3rem 2rem;
    }
    .card {
        .desc {
            font-family: "Encode Sans", sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            text-align: center;
            color: #000000;
            background: #ffffff;
            border-radius: 200px 200px 0px 0px;
            width: 31.6rem;
            padding: 1rem 5rem;
            margin: 0 auto;
            span {
                font-weight: 700;
            }
        }
        img {
            border-radius: 20px;
        }
        &:nth-child(-1n + 3) {
            grid-column: span 4;
        }
        &:nth-last-child(2) {
            grid-row-start: 2;
            grid-column: 3 / span 4;
        }
        &:nth-last-child(1) {
            grid-row-start: 2;
            grid-column: 7 / span 4;
        }
    }
    .normal {
        font-family: "Encode Sans", sans-serif;
        font-weight: 500;
        font-size: 3.2rem;
        text-align: center;
        margin-top: 5rem;
        color: #141414;
        span {
            text-decoration: line-through;
        }
    }
    .circle {
        font-family: "Encode Sans", sans-serif;
        font-weight: 700;
        font-size: 5.8rem;
        text-align: center;
        color: #141414;
        width: 13.7rem;
        height: 13.7rem;
        background-color: #fff;
        border-radius: 100%;
        display: grid;
        place-items: center;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .cta {
        margin: 2rem auto 0 auto;
    }
}

.faq__section {
    .accordions {
        max-width: 1010px;
        width: 100%;
        margin: 0 auto;
    }
    .accordion {
        color: #000;
        border-top: 1px solid #141414;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 4.4rem 2rem 4.4rem;
        cursor: pointer;
        overflow: hidden;
        &[data-open="true"] {
            img {
                transform: none;
                transition: 0.2s ease-in-out;
            }
        }
        .control {
            display: flex;
            align-items: center;
        }
        img {
            margin-left: auto;
            transform: rotate(180deg);
            transition: 0.2s ease-in-out;
        }
        .heading {
            font-size: 2rem;
        }
        p {
            overflow: hidden;
            font-size: 1.6rem;
            max-width: 70.7rem;
            margin-top: 1rem;
            max-height: 0;
            transition: 0.3s ease-in-out;
            &.active {
                max-height: 500px;
            }
        }
    }
}

.get__section {
    padding-bottom: 10rem;
    .books {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .book {
        font-weight: 500;
        font-size: 2rem;
        color: #141414;
        .badge {
            padding: 1rem 3rem;
            border: 1px solid #141414;
            border-radius: 0.7rem;
            width: fit-content;
            margin: 0 auto;
            position: relative;
            background: #fff;
            z-index: 1;
            .tick {
                position: absolute;
                top: -25%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .lines {
        display: flex;
        align-items: center;
        flex-direction: column;
        .line {
            transform: translateY(-10rem);
        }
        .total {
            font-weight: 500;
            font-size: 2.6rem;
            color: #ffffff;
            padding: 1.5rem 3rem;
            background: #262525;
            border-radius: 7px;
            position: relative;
            margin-top: -15rem;
            .tick {
                position: absolute;
                top: -28%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .today {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 5.8rem;
        color: #141414;
        margin: 5rem 0;
        text-align: center;
    }
    .cta {
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__section {
    padding: 10rem 0;
    background: #141414;
    font-family: "Encode Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #b4b4b4;
    line-height: 150%;
    white-space: pre-line;
}
